* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    
}

.main-container {
    min-width: 1400px;
}

nav {
    position: sticky;
    top: 0;
    padding: 2rem;
    display: flex;
    justify-content: space-around; 
    font-size: 1.6rem;
    background-color: #a6a6a6;
}

.nav-bar {
    display: flex;
    gap: 2vw;

}

.item-list span a {
    color: white;
    text-decoration: none;
}

.item-list {
    list-style: none;   
}
header {
    height: 90vh;
    max-width: 100%;
    background-image:url(./ravi.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0 20%; 
    
}
.main-heading {
    padding:19.5% 0 0 65%;

}

.header {
    width: 80%;
    margin: 0 auto;
}
.header p {
    margin-bottom: 2%;
    font-size: 2rem;
}

.header p+p+p+p {
    text-wrap:wrap ;
    
}

.header a{
    margin-right: 2%;
    font-size: 1.5rem;
}

.header a:hover {
    font-size: 2.3rem;
    border: .5rem solid black;
    border-radius:.5rem;
}

.header span {
    color:#FFD18D;
    font-weight: 800;
    font-size: 3rem;
    
}

.header i {
    color: white;
    font-size: 2.5rem;
}


/* about section  */


.main-body {
    width: 60%;
    margin: 2% auto;
    font-size: 1.5rem;
}

#about, #skill , #project ,#contact{
    text-align: center;
}

.row {
    display: flex;
    gap: 2%;
}


.main-body h1+h3 {
    margin-bottom: 1%;
}

img {
    max-width:425px;
    width:100%; 
}
.row1 {
    display:flex;
    justify-content: space-between;
}

.table {
    margin-right: 10vw;
}

.table li {
    list-style: none;
   margin-bottom : 3rem;
}

/* Project */ 

.row2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    border: 2px solid black;
    max-width:320px;
    margin-bottom: 3%;
}

.project-data {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
}



/* Contact  */

.row3 {
    display: flex;
    justify-content: space-between;

}

.form {
    margin-right: 10%;
}

input {
    border-radius: 1rem;
    padding:1rem .5rem;
    width: 400px;
    margin-bottom: 5%;
}

textarea {
    padding:.5rem;
    width: 400px;
    height: 200px;

}

[type="submit"]{
    margin-top: 5%;
    padding: .5rem 2rem;
    border-radius: 1rem;

}

.form-group {
    box-shadow:5px 4px 8px 0 gray;
}

@media (max-width:1024px){
    
    .main-container {
        min-width: 1024px;
    }

    .main-heading {
        padding:27% 0 0 60%;
    }

    .header , .main-body {
        width: 90%;
    }

    
}

@media (max-width:768px){
    
    .main-container {
        min-width: 768px;
    }

    nav {
        font-size: 1.2rem;
    }

    .main-heading {
        padding-top:32%;
    }
    
    .header p  {
        font-size: 1.8rem;
    }

    .header span {
        font-size: 2.5rem;
    }
   .form {
    margin: 10%;
   }
    input {
        width:220px;
    }

    textarea {
        width: 220px;
        height: 100px;
    }
    
}


@media (max-width:425px){
    
    .main-container {
        min-width: 425px;
    }

    .nav-bar {
        display: none;
    }

    header {
        height: 70vh;
        max-width: 100%;   
    }

    .row , .row1, .row2, .row3{
        display:block;
        gap: 2%;
    }
    .box {
        max-width:425px;
    }
    .main-heading {
        padding:36% 0 0 0;
    }
    .main-body h1 {
        font-size: 1.8rem;
    }
    .main-body h1+h3 {
        font-size: 1rem;
    }

    p {
        font-size: .8rem;
    }

    .header p  {
        font-size: 1.3rem;
        color:white;
    }

    .header span {
        font-size: 2rem;
    }

   .form {
    margin-top: 2%;
   }
    input {
        width:250px;
    }
    textarea {
        width: 250px;
    }
    
}

@media (max-width:375px){
    
    .main-container {
        min-width: 375px;
    }
}

@media (max-width:320px){
    
    .main-container {
        min-width: 300px;
    }

    .header p  {
        font-size: 1.6rem;
    }

    .header span {
        font-size: 2.5rem;
    }

    .main-heading {
        padding-top:50%;
    }

    .form {
    margin: 4%;
    }
}